@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* background-color: #000000; */
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(100, 43, 115, 1) 0%,
    rgba(4, 0, 4, 1) 90%
  );
  /* background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(19, 133, 61) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(87, 28, 49) 0, transparent 50%); */
}

.blue-glassmorphism {
  background: rgba(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.white-and-blue-glassmorphism {
  background: rgba(255, 255, 255, 0.051);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid hwb(0 100% 0% / 0.302);
}
.white-and-blue-glassmorphism:hover {
  background: rgba(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(39, 51, 89, 1) 0px 0px 90px 0px;
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.051);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid hwb(0 100% 0% / 0.302);
}
.white-glassmorphism-collections-nfts {
  background: rgba(255, 255, 255, 0.051);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid hwb(0 100% 0% / 0.302);
}
.white-glassmorphism-collections-nfts:hover {
  background: rgba(255, 255, 255, 0.4);
}
.white-glassmorphism-nft-attributes {
  background: rgba(255, 255, 255, 0.051);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid;
}
.white-glassmorphism-options {
  background: rgba(255, 255, 255, 0.051);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0px 1px 1px 1px solid hwb(0 100% 0% / 0.302);
}
.white-glassmorphism-collection {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px dashed hwb(0 100% 0% / 0.302);
}
.white-glassmorphism-bordernone {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px dashed hwb(0 100% 0% / 0.302);
}

.white-glassmorphism-percentage {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid hwb(0 100% 0% / 0.302);
}
.white-glassmorphism-percentage:focus-within {
  border: 2px solid rgba(59, 131, 246, 0.646);
}

.collection-card {
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 0.91%,
    rgba(0, 0, 0, 0.9) 100%
  );

  z-index: 99;
}

.profile-image:hover {
  opacity: 80%;
}
.profile-image:hover div {
  display: none;
}
.profile-image:hover :nth-child(2) {
  display: block;
}

.eth-card {
  background-color: #a099ff;
  background-image: radial-gradient(
      at 83% 67%,
      rgb(152, 231, 156) 0,
      transparent 58%
    ),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

.gradient-bg-welcome {
  background-color: #000000;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, rgb(19, 133, 61) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(87, 28, 49) 0, transparent 50%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .text-gradient-description {
  background: -webkit-linear-gradient(rgb(1, 110, 218), rgb(217, 0, 192));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffffff;
} */

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.info-container-box-shadow {
  border-radius: 50px;
  background: #313338;
  box-shadow: 5px 5px 6px #17171a, -5px -5px 6px #4b4f56;
}

.slick-slide {
  margin-right: 10px;
}

.slick-list {
  margin: 0 10px;
}

.slick-track {
  width: 800px;
  margin-bottom: 50px;
}
.slick-dots {
  height: 100px;
  position: relative;
}
.slide-arrows {
  margin-top: 100px;
  opacity: 80%;
}
.slide-arrows:hover {
  opacity: 100;
}

.help-message-one {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.help-message-two {
  background-color: #00e90a;
  background-image: linear-gradient(160deg, #00e90a 0%, #80d0a0 100%);
}

.help-message-three {
  background-color: #6c00e9;
  background-image: linear-gradient(160deg, #6c00e9 0%, #b680d0 100%);
}

.help-message-four {
  background-color: #e90000;
  background-image: linear-gradient(160deg, #e90000 0%, #f54b29 100%);
}

.help-message-five {
  background-color: #f26100;
  background-image: linear-gradient(160deg, #f26100 0%, #fbb800 100%);
}

#swal2-html-container > p > a {
  text-decoration: underline;
  color: #2546bd;
}

@media only screen and (min-width: 1200px) {
  .slide-arrows {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 500px) {
  .hide-search-bar {
    display: none;
  }
  .show-search-icon {
    display: block;
  }
}
@media only screen and (max-width: 425px) {
  .remove-margin {
    margin-right: 0;
  }
}
@media only screen and (max-width: 560px) {
  .nft-card-image {
    height: 15px;
    width: 15px;
  }
}
/* @media only screen and (max-width: 640px and min-width:561px) {
  .nft-card-image {
    height: 15px;
    width: 15px;
  }
} */

#root
  > div
  > div
  > div.slick-slider.slick-initialized
  > ul
  > li.slick-active
  > button::before {
  color: white !important;
  font-size: 20px;
  opacity: 1;
}
#root
  > div
  > div
  > div.slick-slider.slick-initialized
  > ul
  > li
  > button::before {
  color: white !important;
  font-size: 20px;
  opacity: 0.2;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-4 22:33:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transform: rotate(6deg);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transform: rotate(6deg);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-4 22:44:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3.25rem);
    transform: translateX(3.25rem) scale(0.75) rotate(-12deg);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3.25rem);
    transform: translateX(3.25rem) scale(0.75) rotate(-12deg);
    opacity: 1;
  }
}

/* border for popup menu*/
body > div.swal2-container.swal2-center.swal2-backdrop-show > div {
  border: solid 2px #2952e3;
}

/* border for confirmButton*/
body
  > div.swal2-container.swal2-center.swal2-backdrop-show
  > div
  > div.swal2-actions
  > button.swal2-confirm.swal2-styled.swal2-default-outline {
  border: solid 2px #2546bd;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.pagination-button {
  color: white;
}

.btn-gradient-border {
  border: 2px double transparent;
  background-image: linear-gradient(#301934, #301934),
    radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.btn-gradient-border:hover {
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33, 0.4), rgb(13, 14, 33, 0.4)),
    radial-gradient(
      circle at left top,
      rgb(1, 110, 218, 0.4),
      rgb(217, 0, 192, 0.4)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.btn-glow:hover {
  box-shadow: rgba(39, 51, 89, 1) 0px 0px 90px 0px;
}

.text-glow:hover {
  text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff;
}

.text-glow-description {
  text-shadow: 0 0 3px #ffffff, 0 0 3px #ffffff;
}

.swal2-styled {
  width: 6rem;
  height: 3rem;
}

.swal2-cancel {
  border: 2px solid rgba(109, 119, 128, 0.453);
}
